*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --cor_fundo: #33658A;
    --cor_cabecalho: #1A3342;
    --cor_formulario: #86BBD8;

}

body{
    height: 100dvh;
    background-color: var(--cor_fundo);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header{

    background-color: var(--cor_cabecalho);
    top: 0;
    
}

main{

    display: flex;
    justify-content: center;
}

#container{
    background-color: var(--cor_formulario);
    display: flex;
    height: 600px;
    width: 450px;
    flex-direction: column;
    
  
 
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#login{
    width: 60px;
    height: 40px;
}
footer{
    width: 100%;
}