*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --cor_fundo: #33658A;
    --cor_cabecalho: #1A3342;
    --cor_formulario: #86BBD8;

}

body{
    height: 100dvh;
    background-color: var(--cor_fundo);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header{

    background-color: var(--cor_cabecalho);
    
}

#container{
    background-color: var(--cor_formulario);
}